/* This is a comment! */

@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

/* Type Selectors*/

p {
    font-size: 16px;
    /* px, pt, 100%, em (1em = 16px) */
    line-height: 1.5 em;
}

figcaption {
    /* 
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    */
    font: normal 0.75em/1.5em 'Inknut Antiqua', serif;
    color: #035EC5;
    text-align: right;
}


/*Class Selectors*/

.milk-text {
    font: bold 1em 'Open Sans Condensed', sans-serif;
    color: white;
    text-shadow: 0 2px 3px #000;
}


/* ID Selector */

#logo {
    background-color: #1EC0E2;
}


/*Descendent Selector */

#logo h1 {
    font-family: 'Inknut Antiqua', serif;
}


/* Psuedo class selectors */

#details a:link,
#details a:visited {
    color: black;
    text-decoration: none;
}

#details a:hover {
    color: goldenrod;
    text-decoration: underline;
}

#details a:active {
    color: 035EC5;
    text-decoration: none;
}

/* MEDIA */
img, video, audio {
    max-width: 100%;
}

/* Layout */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
 
 .wrapper {
     width: 960px;
     margin: 0 auto;
 }

 .col-1 {
    float: left;
    width: 32%;
    background: #ccc;
 }

 .col-2 {
    float: left;
    width: 66%;
    background: #ccc;
 }

 .col-3 {
    background: #ccc;
 }

 [class*="col-"] {
     margin-left: 2%;
 }

 .first {
     margin-left: 0%;
 }

 .clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     height: 0;
     line-height: 0;
 }

 /* Sections */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1;
}

 section {
     padding: 20px;
     margin-bottom: 20px;
 }

 /*Social*/
  #social {
      position: fixed;
      top: 200px;
      right: 20px;
      width: 40px;
      z-index:1;
  }

  #social a {
      display: block;
      width: 40px;
      height: 40px;
      background: yellow;
  }

  .clear {
      clear: both;
  }

h1 {
    margin: 0 10%;
    padding-bottom: 0;
}

h2 {
    margin: 0 10%;
}